@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

/* body and top level css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: lightgray;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
    font-size: 500%;
    margin: auto;
    padding: 3%;
}

/* header css */

#main-header {
    height: 3em;
    width: 100%;
    position: fixed;
}

#nav-header {
    font-size: 150%;
    z-index: 999;
    text-decoration: none;
    color: black;
    font-weight: 900;
}

/* rules and play section */
#rules {
    text-align: center;
}

#rulesButton {
    font-size: 100%;
    padding: 1%;
}

/* Game Section */

#game-area {
    display: flex;
    padding-top: 2%;
    justify-content: center;
}

#game-area button {
    margin: 2%;
    padding: 2%;
    font-size: 500%;
}

.btn:focus {
    outline: none;
}
.btn-red{
    color: red;
    border-color: red;
    border-radius: 50%;
    text-align: center;
}

.btn-red:active,
.btn-red:hover {
    background-color: red;
    color: white;
}

.btn-green{
    color: green;
    border-color: green;
    border-radius: 50%;
}

.btn-green:active,
.btn-green:hover {
    background-color: green;
    color: white;
}

.btn-blue{
    color: blue;
    border-color: blue;
    border-radius: 50%;
}

.btn-blue:active,
.btn-blue:hover {
    background-color: blue;
    color: white;
}

/* result section */
#result-section {
    text-align: center;
    font-size: 200%;
    font-weight: 900;
    padding-top: 2%;
}

/* score section */
.score-area {
    display: flex;
    text-align: center;
    font-size: 130%;
    font-weight: 900;
    padding-top: 3%;
    flex-direction: column;
}

#userScore {
    flex: 1;
}

#computerScore {
    flex: 1;
    padding: 1%;
}

#userScoreDigit {
    color: green;
}

#compScoreDigit {
    color: red;
}

/* footer */
#footer {
    height: 2em;
    font-size: 150%;
    text-align: center;
    position: relative;
    z-index: 998;
    padding: 3%;
}

#footer a {
    text-decoration: none;
    color: black;
    font-weight: 900;
}