@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

/* body and top level css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/Promo-edited-image\ \(1\).webp') no-repeat center center;
}

h1 {
    text-align: center;
    margin: auto;
    padding: 0 0 2% 0;
    color: white;
}

h2 {
    font-size: 150%;
    margin: 0;
    padding: 1rem 0;
}

p {
    margin: 0;
}

#titleDiv {
    padding: 5rem 1rem 3rem 1rem;
    font-size: 200%;
}

/* header css */

#main-header {
    height: 3em;
    width: 100%;
    position: fixed;
}

#nav-header {
    font-size: 150%;
    z-index: 999;
    text-decoration: none;
    color: white;
    font-weight: 900;
}

.fas {
    padding: 0.5rem;
}

#audioButton {
    font-size: 150%;
    color: white;
    font-weight: 900;
    cursor: pointer;
}

/* rules section */

#rules {
    text-align: center;
}

#rulesButton {
    font-size: 100%;
    padding: 1%;
}

#rulesButton:active,
#rulesButton:hover {
    background-color: red;
    color: white;
}

#closeButton {
    color: red;
    background-color: white;
}

#rulesDiv {
    color: white;
    margin: 0 20%;
    display: none;
    justify-content: center;
    font-size: 110%;
}

#flexRules {
    display: flex;
    justify-content: center;
}

#list {
    text-align: left;
    line-height: 1.5rem;
    margin: 2% 0;
}

#rulesDiv ol {
    list-style: none;
}

#liOne>i {
    font-size: 120%;
    color: red;
}

#liTwo>i {
    font-size: 120%;
    color: green;
}

#liThree>i {
    font-size: 120%;
    color: yellow;
}

#liFour>i {
    font-size: 120%;
    color: blue;
}

#liFive>i {
    font-size: 120%;
    color: orange;
}

#closeButton {
    margin-top: 2%;
}

#closeButton:active,
#closeButton:hover {
    background-color: red;
    color: white;
}

/* Game Section */

#game-area {
    display: flex;
    padding-top: 5%;
    justify-content: center;
}

#game-area button {
    margin: 2%;
    padding: 2%;
    font-size: 500%;
}

.btn:focus {
    outline: none;
}

#rock:active,
#rock:hover {
    background-color: red;
    color: white;
}

#paper:active,
#paper:hover {
    background-color: yellow;
    color: white;
}

#scissors:active,
#scissors:hover {
    background-color: green;
    color: white;
}

#lizard:active,
#lizard:hover {
    background-color: blue;
    color: white;
}

#spock:active,
#spock:hover {
    background-color: orange;
    color: white;
}

.btn-white {
    color: black;
    border-color: black;
    border-radius: 50%;
}

/* result section */

.result-section {
    text-align: center;
    font-size: 200%;
    font-weight: 900;
    color: white;
    margin: 0 2%;
}

.user-won {
    color: rgb(7, 190, 7);
}

.user-draw {
    color: rgb(214, 214, 7);
}

.user-loss {
    color: rgb(247, 23, 23);
}

/* score section */

.score-area {
    display: flex;
    text-align: center;
    font-size: 130%;
    font-weight: 900;
    padding-top: 4%;
    margin: 0 25%;
    opacity: 0.8;
}

.score-area div {
    background-color: white;
}

#userScore {
    flex: 1;
    margin: 0 1%;
    border-radius: 1rem;
}

#computerScore {
    flex: 1;
    margin: 0 1%;
    border-radius: 1rem;
}

#userScoreDigit {
    color: green;
}

#compScoreDigit {
    color: red;
}

#userRoundsWon {
    color: green;
}

#compRoundsWon {
    color: red;
}

/* footer */
#footer {
    height: 2em;
    font-size: 150%;
    text-align: center;
    position: relative;
    z-index: 998;
    padding-top: 10%;
    text-decoration: none;
    color: white;
    font-weight: 900;
}

/* Media Queries */
/* Large screens */

@media screen and (max-width: 1280px) {

    #titleDiv {
        padding: 10rem 1rem 3rem 1rem;
        font-size: 150%;
    }

    #game-area {
        padding-top: 5%;
    }

    .result-section {
        padding-top: 5%;
    }

    .score-area {
        padding-top: 5%;
    }

    #footer {
        padding-top: 5%;
    }
}

/* medium screens */

@media screen and (max-width: 950px) {

    #rulesDiv {
        color: white;
        margin: 0 15%;
    }
}

@media screen and (max-width: 800px) {

    #titleDiv {
        padding-top: 15%;
        font-size: 150%;
    }

    #rulesDiv p {
        font-size: 90%;
    }

    #rulesButton {
        font-size: 120%;
    }

    #game-area button {
        font-size: 300%;
    }

    .result-section {
        Padding-top: 10%;
    }

    .score-area {
        font-size: 100%;
        padding-top: 10%;
    }

    #userScore {
        padding: 2% 2%;
    }

    #computerScore {
        padding: 2% 2%;
    }
}

@media screen and (max-width: 600px) {

    #titleDiv {
        padding-top: 15%;
    }

    #audioButton {
        display: none;
    }

    .score-area {
        font-size: 90%;
        padding: 10% 0 5% 0;
        margin: 0 15%;
    }

    #game-area {
        padding-top: 20%;
    }

    #userScore {
        padding: 2% 2%;
    }

    #computerScore {
        padding: 2% 2%;
    }
}

/* small screens */

@media screen and (max-width: 450px) {

    #titleDiv {
        padding: 20% 0 10% 0;
        font-size: 110%;
    }

    #rulesDiv h2 {
        font-size: 110%;
    }

    #rulesDiv {
        margin: 0 7.5%;
    }

    #flexRules {
        font-size: 80%;
    }

    #game-area {
        padding: 15% 0 5% 0;
    }

    #game-area button {
        font-size: 200%;
    }

    .result-section {
        padding: 5% 0;
        font-size: 150%;
    }

    .score-area {
        font-size: 90%;
        padding: 5% 0 5% 0;
        margin: 0 10%;
    }

    #footer {
        font-size: 120%;
    }
}

@media screen and (max-width: 350px) {

    #titleDiv {
        font-size: 100%;
        padding: 5rem 0 3rem 0;
    }

    #rulesDiv p {
        font-size: 80%;
    }

    .score-area {
        font-size: 90%;
        margin: 0 1%;
    }
}

@media screen and (max-width: 300px) {

    #titleDiv {
        padding-top: 20%;
        font-size: 80%;
    }

    #game-area {
        padding-top: 2%;
    }

    #game-area button {
        font-size: 150%;
    }

    .result-section {
        font-size: 80%;
    }

    .score-area {
        font-size: 80%;
        padding-top: 10%;
        margin: 0 1%;
    }

    #footer {
        font-size: 100%;
    }
}